@font-face {
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Regular'), url('../font/Poppins-Regular.woff') format('woff');
    }
@font-face {
    font-family: 'Poppins SemiBold';
    font-style: bold;
    font-weight: bold;
    src: local('Poppins SemiBold'), url('../font/Poppins-SemiBold.woff') format('woff');
    }
@font-face {
    font-family: 'Merriweather bold';
    font-style: bold;
    font-weight: bold;
    src: local('Merriweather bold'), url('../font/Merriweather-Bold.woff') format('woff');
    }
