@import url("./font.css");

:root{
    /* ----------fonts-------------------- */
        --font-title:"Merriweather bold";
        --font-text:"Poppins Regular";
        --font-text2:"Poppins SemiBold"
    /* --------colors-------------- */
    --background:#2B2D38;
    --color-pink:#DB2A6B;
    --color-white:#FFFFFF;
    --color-grey:#ababab;
    

}
/* --------------------page style ----------------- */
.page{
    background-color:#2B2D38;
    height: 100vh;
    padding: 1% 7%;
    font-family: var(--font-text);
    font-size: 16px;
    background-image: url("../img/ellipse.svg"),url("../img/ellipse2.png");
    background-repeat: no-repeat;
    background-position: 960px 190px , 1200px 459px ;
}
/* ------------------nav style------------------ */
.nav{
    display: flex;
    justify-content: space-between;
}
.nav__title{
    font-family: var(--font-title);
    font-size: 1.8rem;
    margin: 0;
    color: var(--color-pink);
}
.title__white{
    color: var(--color-white);
}
.nav__items{
    padding: 0;
    margin-right: 10rem;
    list-style: none;
    display: flex;
    gap: 3rem;
}
.nav__link{
    color: var(--color-grey);
    text-decoration: none;
    display: block;
}


/* -----------------------header style--------------- */
.header{
    display: flex;
    margin-top: 2rem;
    
}
/* ----------------------info style---------------- */
.info{
    width: 45%;
}

.info__title{
    color: var(--color-white);
    font-family: var(--font-title);
    font-size: 4.6rem;
    margin: 0;
    margin-top: 1rem;
}
.info__text{
    color: var(--color-grey);
    margin-top: 1rem;
    font-size: 1.7rem;
}
.buttons{
    display: flex;

}
.button__pink{
    display: block;
    padding: 1rem 4rem;
    background-color: var(--color-pink);
    color: var(--color-white);
    text-decoration: none;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius:1rem ;
    
}
.button{
    display: block;
    padding: 1rem 4rem;
    color: var(--color-white);
    font-family: var(--font-text2);
}
.services{
    margin-top: 7rem;
    display: flex;
    gap: 2rem;
}
.services__service{
    display: flex;
    gap: 1rem;
}
.services__img{
    margin: 0;
    background-color: #ffffff25;
    padding: 1rem;
    border-radius: 1rem;
}
.services__text{
    color: white;
    font-family: var(--font-text2);
    font-size: 1.2rem;
    margin: 0;
}

/* ------------------------imgs style------------------ */
.imgs{
    margin-left: 2rem;
    width: 55%;
    display: grid;
    grid-template-areas:
        "mPurple gGreen gYellow"
        "mPurple mOrange gYellow"
        "gPink mOrange gYellow";
    gap: 1rem;
    justify-items: end;
}
.imgs figure{
    margin: 0;
}
.imgs figure:nth-child(1){
    grid-area: mPurple;
    
        
}
.imgs figure:nth-child(2){
    grid-area: gGreen;
        
}

.imgs figure:nth-child(3){
    grid-area: gYellow;
    align-self: center;
        
}
.imgs figure:nth-child(4){
    grid-area: gPink;
        
}
.imgs figure:nth-child(5){
    grid-area: mOrange;
        
}